* {
    border: none;
}
window {
    /*border-radius:5px;*/
    font-size: 24px;
    font-family: "maple mono";
    background-color: rgba(46,52,64,0.9);
    color: #8fbcbb;

}
#entry:selected {
background-color: #accebe;
}
#text:selected {
background-color: #accebe;
color: white;
}
#input {
background-color: #2e3440;
color: black;
}
